







@font-face{

    src: url("font/Sansita_Swashed/SansitaSwashed-VariableFont_wght.ttf");
    font-family:"font1" ;  
  
}
@font-face{

    src: url("./font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
    font-family:"font2" ;  
  
}
@font-face{

    src: url("./font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
    font-family:"font3" ;  
  
}
@font-face{

    src: url("font/Dancing_Script/DancingScript-VariableFont_wght.ttf");
    font-family:"font4" ;  
    
  
}



@font-face{

    src: url("font/Lobster/Lobster-Regular.ttf");
    font-family:"font5" ;  
    
  
}

@font-face{

    src: url("font/Nerko_One/NerkoOne-Regular.ttf");
    font-family:"font6" ;  
    
  
}
@font-face{

    src: url("font/Rubik/Rubik-VariableFont_wght.ttf");
    font-family:"font7" ;  
    
  
}
@font-face{

    src: url("font/Fredoka_One/FredokaOne-Regular.ttf");
    font-family:"font8" ;  
    
  
}

