@font-face {

    // src: url("font/Sansita_Swashed/SansitaSwashed-VariableFont_wght.ttf");

    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
    font-family: "font1";

}

@font-face {

    // src: url("./font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
    font-family: "font2";

}

@font-face {

    src: url("./font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
    font-family: "font3";

}

@font-face {

    src: url("font/Dancing_Script/DancingScript-VariableFont_wght.ttf");
    font-family: "font4";


}



@font-face {
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    // src: url("font/Lobster/Lobster-Regular.ttf");
    font-family: "font5";


}

@font-face {

    src: url("font/Nerko_One/NerkoOne-Regular.ttf");
    font-family: "font6";


}

@font-face {

    src: url("font/Rubik/Rubik-VariableFont_wght.ttf");
    font-family: "font7";


}

@font-face {

    src: url("font/Fredoka_One/FredokaOne-Regular.ttf");
    font-family: "font8";


}