.modal-wrapper {
    margin: 0 auto;
    width: 80%;
    ;
    margin-top: 12px;
    background-color: var(--c_white_default);

    border: none;
    outline: none;
    border-radius: 10px;
    position: relative;

    .modal__btn-close {
        // width: 20px;
        // height: 20px;
        // background-color: var(--c_red-second);
        position: absolute;
        right: 6px;
        top: 6px;

        // svg {

        //     color: var(--c_white_default);
        //     font-size: 2.2rem;
        //     stroke-width: 5;
        //     background-color:
        //         var(--c_red-second);
        //     border-radius: 50%;
        // }
    }


}


@media only screen and (max-width: 60rem) {

    .modal-wrapper {
        width: 100%;
    }
}