:root {
    --spacing-item: 20px
}

.sub-banner-wrapper {



    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // margin:0px  calc( var(--spacing-item) * (-1));
    // padding:0px 20px;

    .sub-banner__img {

        height: 154px;
        width: 24%;


        background: transparent !important;

        img {

            height: 100%;
            object-fit: cover;
            border-radius: 6px;

        }

    }


}

.sub-banner-wrapper.col2 {


    .sub-banner__img {
        width: 48%;
    }


}


.sub-banner-wrapper.col1 {


    .sub-banner__img {
        width: 100%;
        height: auto;
    }


}

.sub-banner-wrapper.col3 {


    .sub-banner__img {
        width: 32%;
        height: 170px;
    }


}





@media only screen and (max-width: 60rem) {

    .sub-banner-wrapper.col1 {}
}