:root {
   --spacing-product-item: 5px
}


.product-wrapper {
   padding: 20px 0;

   .product-header {

      width: 30%;
      margin-bottom: 20px;
   }

   .product-main {

      display: flex;
      flex-wrap: wrap;

      justify-content: flex-start;
      margin: 0px calc(var(--spacing-product-item) * (-1));

   }

   .product__load-more {
      margin-top: 40px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      text-align: center;



   }

   .product_pagination {
      margin-top: 40px;
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-end;
      background-color: var(--c_white_default);
      border-radius: 10px;
   }



   .not-found {
      width: 100%;
      background-color: aliceblue;
      font-size: 1.9rem;
      font-weight: bold;
      padding: 10px;
      border-radius: 10px;
   }
}

@media only screen and (max-width: 60rem) {

   .product-wrapper {
      padding: 0px 0px;

      .product-header {
         width: 100%;
      }
   }
}