.lunar-mode-layout {



    .lunar-year-left {}

    .lunar-year-right {}

    .effect-lunar {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;

    }

    .effect-lunar.layer-mode {


        z-index: 11;
    }
}